/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Barlow:wght@200;300;400;500&family=Lobster+Two:ital@1&family=Manrope:wght@200;300;400;500;600;700&family=Pacifico&family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  font-size: 20px;
  padding: 20px 0;
}

.welcome {
  background-image: linear-gradient(rgba(17, 17, 17, 0.658), rgba(20, 20, 20, 0.478)), url(bg.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.welcome_content {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blur {
  backdrop-filter: blur(15px);
  padding: 20px 10px;
  animation: bounce 5s linear infinite;
}

.welcome_content h1 {
  color: #ffff;
}

.welcome_content p {
  color: #ffff;
  font-size: 40px;
  font-weight: 100;
  font-family: 'Lobster Two', cursive;
  text-align: center;
}

.green {
  color: rgb(152 193 196);
}

.sign {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #3778c2;
  padding: 0.3rem 1rem;
}

.index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1rem auto;
}

.lh a {
  font-size: 40px;
  color: #fff;
  padding: 5px;
}

.index a {
  color: #ffff;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  text-align: center;
  font-size: 23px;
  letter-spacing: 0.01rem;
  transition: 0.3s;
}

.add a {
  color: #fff;
}

.each a {
  text-transform: capitalize;
}

.index a:hover {
  background-color: rgb(84, 180, 240);
}

@keyframes bounce {
  10% {
    transform: translateY(-10px);
    border-color: rgb(143, 185, 218);
  }

  30% {
    transform: translateY(0);
    border-color: rgb(130, 189, 233);
  }

  50% {
    transform: translateY(-10px);
    border-color: rgb(84, 180, 240);
  }

  70% {
    transform: translateY(0);
    border-color: rgb(26, 156, 255);
  }

  90% {
    transform: translateY(-10px);
    border-color: rgb(15, 95, 156);
  }

  100% {
    transform: translateY(0);
  }
}

.dee {
  display: flex;
  align-items: center;
  width: 50%;
}

.img {
  width: 40%;
  height: 100%;
  margin-right: 10px;
  border-radius: 50%;
}

.img img {
  width: 100%;
}


/***************** forms ******************/
.form {
  padding: 0 1rem;
  margin: 3rem 0;
}

.form h2 {
  text-align: center;
  font-size: 32px;
}

.form form {
  margin-top: 3rem;
}

.input {
  display: flex;
  flex-direction: column;
}

.input label {
  font-size: 20px;
}

.input input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: rgba(185, 225, 255, 0.637);
}

.actions {
  width: 40%;
  padding: 10px 0;
}

.actions input {
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(55, 235, 255);
  color: aliceblue;
}

.log p {
  font-size: 22px;
  margin: 10px 0;
}

.up {
  margin-top: 1rem;
}

.up form {
  margin: 1rem 0;
}

.cate input {
  width: fit-content;
  background-color: #5fb523;
}

.ex input {
  width: fit-content;
  background-color: #3778c2;
}

.up .form .input input {
  background-color: rgb(130, 189, 233);
}

/*******************  navbar & Homepage ****************/

.rh button {
  padding: 5px 10px;
}

.total p {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 19px;
}

.inn {
  background-color: #eae7e7;
  height: 100vh;
}

.add {
  background-color: #5fb523;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.each {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cash {
  text-align: center;
}

.cash p {
  padding: 5px 0;
}

.form .exc {
  font-size: 25px;
  margin: 10px 0;
  text-align: left;
}
